<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">

    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <main>
                <div class="cards">
                    <a href="/administrative-investigation" class="card">
                        <p>Administrative Investigation Form</p>
                    </a>
                    <a href="/receipt-of-the-car" class="card">
                        <p>Acknowledgment of Receipt of The Car Form</p>
                    </a>
                    <a href="/receipt-of-the-list" class="card">
                        <p>Acknowledgment of Receipt of The List Form</p>
                    </a>
                    <a href="/Penalty-procedure" class="card">
                        <p>Penalty Procedure Form</p>
                    </a>
                    <a href="/job-mission-request" class="card">
                        <p>Job Mission Request Form</p>
                    </a>
                    <a href="/delegation-of-authority" class="card">
                        <p>Delegation of Authority Form</p>
                    </a>
                    <a href="/receipt-of-custody" class="card">
                        <p>Acknowledgment of Receipt of Custody Form</p>
                    </a>
                    <a href="/identification-model" class="card">
                        <p>Identification Model Form</p>
                    </a>
                    <a href="/clearance" class="card">
                        <p>Clearance Form</p>
                    </a>
                </div>

                </form>
            </main>
    </body>

    </html>