<link rel="stylesheet" href="/css/main.css">

<div class="topnav" id="myTopnav"><h3><%= navTitle %></h3></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">