* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#datepicker2 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    margin-top: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 50%;
    position: relative;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.buttonload {
    margin-top: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 50%;
    position: relative;
    font-weight: 600;
    font-size: 18;
    padding: 12px 40px;
  }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 3rem;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.column {
    float: right;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: right;
    width: 25%;
}

.col-255 {
    font-weight: 700;
    text-align: center;
    float: right;
    width: 100%;
}

.col-75 {
    float: right;
    width: 55%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .column {
        width: 100%;
    }

    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    /* input[type=submit] {
        text-align: center;
    } */
}